<div id="about">
	<img src="/img/christ-azika-eros.png" alt="Christ Azika-Eros's picture" width="125" height="125" class="picture">

	<p>
	<a href="https://MayeleStrategy.com" target="_blank">MayeleStrategy.com</a> · Author of <a href="http://LikeaBossBook.net" target="_blank">LikeaBossBook.net</a> · <a href="https://CalculateMyRoi.com" target="_blank"> CalculateMyRoi.com</a>. Curious hacker hustling for Africa's development. Alum of ESSEC Business School, Centrale Paris and Mines-Telecom institut. 
	</p>

	<p>
	Subscribe to my mailing list to receive content that will support you in Strategy, Management & Technology.
  </p>

	<form method="post" action="#" id="christForm">
			<input type="text" class="email-input" placeholder="Enter your email..." id="email" name="email" size="8">
			<input type="submit" id="subscribe" value="S'abonner">
  </form>

	<ul id="contact-box">
		<li>
			<a href="https://www.facebook.com/supm4n" target="_blank" class="help" title="Follow me on Facebook">
				<img src="/img/christ-azika-eros-facebook.png" alt="Christ Azika-Eros's Facebook" height="30" width="30" >
			</a>
		</li>
		<li>
			<a href="https://www.instagram.com/supm4n" target="_blank" class="help" title="Follow me on Instagram">
				<img src="/img/christ-azika-eros-instagram.png" alt="Christ Azika-Eros's Instagram" height="30" width="30" >
			</a>
		</li>
		<li>
			<a href="https://twitter.com/supm4n" target="_blank" class="help" title="Follow me on Twitter">
				<img src="/img/christ-azika-eros-twitter.png" alt="Christ Azika-Eros's Twitter" width="30" height="30">
			</a>
		</li>
		<li>
			<a href="https://www.youtube.com/user/IamSupm4n" target="_blank" class="help" title="Subscribe to My YouTube Channel">
				<img src="/img/christ-azika-eros-youtube.png" alt="Christ Azika-Eros's YouTube" width="30" height="30">
			</a>
		</li>
		<li>
			<a href="https://fr.linkedin.com/in/azika" target="_blank" class="help" title="Add me on LinkedIn">

				<img src="/img/christ-azika-eros-linkedin.png" alt="Christ Azika-Eros's linkedin" width="30" height="30">
			</a>
		</li>
	</ul>
</div>
