<div id="about">
	<img src="/img/christ-azika-eros.png" alt="Christ Azika-Eros's picture" width="125" height="125" class="picture">

	<p>
	French-congolese entrepreneur, marketing manager at Airtel Congo. I "learned" entrepreneurship at ESSEC Business School + Centrale Paris and was graduated from Telecom Bretagne in IT and Telecommunications engineering.
	</p>
	<p>
	Ex <a href="http://www.cupofteach.com" target="_blank">Cup of teach</a> and head of software at <a href="http://www.instabeat.me" target="_blank">Instabeat</a>.</p>

  <a class="gplus" rel="me" href="http://google.com/+ChristAzikaEros?rel=author"> </a>

	<ul id="contact-box">
		<li>
			<a href="http://twitter.com/supm4n" target="_blank" class="help" title="Twitter is where I share things.">
				<img src="/img/christ-azika-eros-twitter.png" alt="Christ Azika-Eros's twitter" width="50" height="50">
			</a>
		</li>
		<li>
			<a href="http://fr.linkedin.com/pub/christ-azika-eros/4b/b3b/343" target="_blank" class="help" title="Let's stay in touch !">

				<img src="/img/christ-azika-eros-linkedin.png" alt="Christ Azika-Eros's linkedin" width="50" height="50">
			</a>
		</li>
		<li>
			<a href="mailto:christ@azika-eros.org" class="help" title="Click to send me an email at christ(@)azika-eros.org" id="email">
				<img src="/img/christ-azika-eros-mail.png" alt="Christ Azika-Eros's mail" height="50" >
			</a>
		</li>
		<li>
			<a href="http://quora.com/Christ-azika-eros" target="_blank" class="help" title="Quora is where I learn things.">
				<img src="/img/christ-azika-eros-quora.png" alt="Christ Azika-Eros's quora" height="50" >
			</a>
		</li>
	</ul>
</div>
